<div>
  <div class="ui stackable two column very relaxed grid container" style="position: relative;">
    <div class="column" id="login">

    </div>
    <div class="ui vertical divider">
      OR
    </div>
    <div class="column" id="register">

    </div>
  </div>
  <div id="phoneBook" style="margin-top:20px">
    
  </div>
</div>